<div class="contact-card">
    <div class="contact-header">
        <h1>My contact card</h1>
    </div>
    <div class="contact-body">
        <div class="contact-photo">
            <img src="https://api.adorable.io/avatars/285/moe.png"/>
        </div>
        <div class="contact-details">
            <h1>Name: Rene Enriquez</h1>
            <h2>Phone: #9999966666</h2>
            <h3>Contact: enriquezrene.ap@gmail.com</h3>
        </div>
    </div>
    <div class="contact-footer">
            <button>Send email</button>
        </div>
</div>
