@import './settings';

.todo-header {
    background-color: $light-blue;
    color: white;
    text-align: center;
    padding: $default-padding;
    h1 {
        margin: 0;
        padding: 0;
        font-weight: normal;
    }
}

.todo-list {
    background-color: white;
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
}

.todo-body {
    ul {
        margin: 0;
        padding: 0;
        font-weight: normal;
        li {
            padding: $default-padding;
            display: flex;
            justify-content: space-between;
            align-items: center;
            button {
                background-color: white;
                border: 1px solid $warning-red;
                color: $warning-red;
                &:hover,
                &:focus {
                    background-color: $warning-red;
                    border: white;
                    color: white;
                }

            }
        }
    }
}

.todo-footer  {
    padding: $default-padding;
    display: flex;
    input {
        // ocupa todo el ancho
        flex-grow: 1;
        margin-right: 15px;
        padding-left: 15px;
    }
    
    button {
        background-color: white;
        border: 1px solid $info-blue;
        color: $info-blue;
        &:hover,
        &:focus {
            background-color: $info-blue;
            border: white;
            color: white
        }
    }

}

button {
    min-width: 100px;
    padding: 10px;
    font-size: 12px;
}