<div class="todo-list">
  <div class="todo-header">
    <h1>My todo list</h1>
  </div>
  <div class="todo-body">
    <ul>
      <li>
        <label for="item1">
          <input type="checkbox" id="item1" />
          Do the laundry
        </label>
        <button class="btn-warning">Delete item</button>
      </li>
      <li>
        <label for="item2">
          <input type="checkbox" id="item2" />
          Feed the dog
        </label>
        <button class="btn-warning">Delete item</button>
      </li>
      <li>
        <label for="item3">
          <input type="checkbox" id="item3" />
          Finish studying my todo list
        </label>
        <button class="btn-warning">Delete item</button>
      </li>
    </ul>
  </div>
  <div class="todo-footer">
      <input type="text" placeholder="Add new item"/>
      <button>Add item</button>
  </div>
</div>