.todo-header {
    background-color: #128fc2;
    color: white;
    text-align: center;
    padding: 15px;
    h1 {
        margin: 0;
        padding: 0;
        font-weight: normal;
    }
}

.todo-list {
    background-color: white;
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
}

.todo-body {
    ul {
        margin: 0;
        padding: 0;
        font-weight: normal;
        li {
            padding: 15px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            button {
                background-color: white;
                border: 1px solid #dc3545;
                color: #dc3545;
                &:hover,
                &:focus {
                    background-color: #dc3545;
                    border: white;
                    color: white;
                }

            }
        }
    }
}

.todo-footer  {
    padding: 15px;
    display: flex;
    input {
        // ocupa todo el ancho
        flex-grow: 1;
        margin-right: 15px;
        padding-left: 15px;
    }
    
    button {
        background-color: white;
        border: 1px solid #007bff;
        color: #007bff;
        &:hover,
        &:focus {
            background-color: #007bff;
            border: white;
            color: white
        }
    }

}

button {
    min-width: 100px;
    padding: 10px;
    font-size: 12px;
}